body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url('img/wallpaper2.jpg'); /* Reemplaza 'imagen.jpg' con el nombre de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    background-color: rgb(118, 118, 118) opacity 1.5; /* Color de fondo blanco con opacidad */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 350px;
    text-align: center;
    backdrop-filter: blur(15px);
    border: 2px solid rgb(13, 151, 66);
}

.register-container h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff002f;
    border-radius: 5px;
    background: transparent;
    color:white;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px; /* Bordes más redondeados */
    background: linear-gradient(45deg, #ff6f61, #ff3e4d); /* Gradiente atractivo */
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para más profundidad */
}

button[type="submit"]:hover {
    background: linear-gradient(45deg, #ff3e4d, #ff6f61); /* Inversión del gradiente al pasar el ratón */
    transform: translateY(-2px); /* Efecto de desplazamiento al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más prominente al pasar el ratón */
}

button[type="submit"]:active {
    transform: translateY(0); /* El botón vuelve a su lugar original al hacer clic */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra normal al hacer clic */
}

/* Estilo para el enlace de inicio de sesión */
.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #ff0000; /* Color azul para el enlace */
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}
